.income-expense-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;
    height: 100px;
    
    margin: 0 auto;
    margin-top: 50px;

    gap: 10px;
}

.income-expense-balance {
    display: flex;
    gap: 40px;
}

.income-expense { 
    display: flex;
    gap: 40px;
}

.income {
    background-color: rgb(73, 73, 73);
    height: 100px;
    width: 250px;
    border-radius: 15px;
    border: 2px solid rgb(130, 130, 130);
}

.expense {
    background-color: rgb(73, 73, 73);
    height: 100px;
    width: 250px;
    border-radius: 15px;    
    border: 2px solid rgb(130, 130, 130);
} 

.net-balance {
    background-color: rgb(73, 73, 73);
    height: 100px;
    width: 250px;
    border-radius: 15px;
    border: 2px solid rgb(130, 130, 130);
}

#income-text {
    color: antiquewhite;
    padding: 5px 17px 2px 17px;
    margin-top: 10px;
}

#income-number {
    color: rgb(3, 181, 3);
    padding: 5px 17px;
    font-size: 25px;
}

#expense-text {
    color: antiquewhite;
    padding: 5px 17px 2px 17px;
    margin-top: 10px;
}

#expense-number {
    color: rgb(253, 52, 37);
    padding: 5px 17px;
    font-size: 25px;
}

#net-balance-text {
    color: antiquewhite;
    padding: 5px 17px 2px 17px;
    margin-top: 10px;
}

#net-balance-number {
    color: rgb(241, 241, 241);
    padding: 5px 17px;
    font-size: 25px;
    display: flex;
}

#enter-number::-webkit-outer-spin-button,
#enter-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#enter-number {
    height: 35px;
    width: 75%;
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 5px;
}

.net-balance-enter {
    display: flex;
    padding: 0px 10px;
}

.save-net-balance-btn {
    margin-left: 10px;
    padding: 0px 8px;
    height: 35px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid rgb(130, 130, 130);
    background-color: rgb(73, 73, 73);
    color: white;
    transition: 0.1s ease-in;
}

.save-net-balance-btn:hover {
    opacity: 0.85;
    background-color: #3e3e3e;
    transition: 0.1s ease;
} 

#edit-balance-btn {
    background-color: rgb(73, 73, 73);
    border: none;
    cursor: pointer;
    margin-left: 10px;
    color: whitesmoke;
}