:root {
    --page-bg-color: rgb(250, 250, 248);

    --main-bg-color: rgb(255, 255, 255);

    /* header */
    --header-bg-color: rgb(215, 214, 214);
    --header-text-color: rgb(31, 41, 55);
    --header-link-color: #006ff3;
    --hamburger-color: rgb(31, 41, 55);
    --toggle-button-bg-color: rgb(78, 71, 71); 

    /* Financial Summary */
    /* income-expense-balance --> ieb */
    --ieb-text-color: rgb(40, 40, 35);
    --ieb-income-color: rgb(3, 150, 3);
    --ieb-expense-color: rgb(210, 40, 30);
    --ieb-balance-color: rgb(30, 30, 30);
    --ieb-border-color: rgb(165, 165, 165);
    --ieb-button-text-color: rgb(44, 43, 43);
    --ieb-button-hover-color: rgb(227, 226, 226);

    /* Transaction Input */
    /* transaction input --> ti */
    --ti-text-color: rgb(40, 40, 35);
    --ti-label-color: rgb(120, 90, 50);
    --ti-select-text-color: rgb(30, 30, 30);
    --ti-select-bg-color: rgb(250, 250, 250);
    --ti-select-border-color: rgb(165, 165, 165);
    --ti-button-bg-color: rgb(245, 245, 245);
    --ti-button-bg-hover-color: rgb(225, 225, 225);
    --ti-button-text-color: rgb(44, 43, 43);
    --calendar-icon-filter: none;

    /* Spending By Category */
    /* spending by category --> sbc */
    --sbc-border-color: rgb(165, 165, 165);
    --sbc-bottom-border-color: rgb(130, 140, 110);
    --sbc-text-color: rgb(40, 40, 35);
    --sbc-charts-text-color: rgb(120, 80, 40);
    --sbc-category-color: rgb(74, 54, 29);
    --sbc-percentage-color: rgb(140, 90, 40);
    --sbc-bar-bg-color: rgb(210, 213, 205);

    --sbc-food-color: rgb(166, 67, 47);
    --sbc-rent-color: rgb(140, 109, 47);
    --sbc-transport-color: rgb(147, 150, 1);
    --sbc-utilities-color: rgb(2, 122, 143);
    --sbc-entertainment-color: rgb(47, 111, 85);
    --sbc-shopping-color: rgb(110, 127, 154);
    --sbc-health-color: rgb(11, 138, 5);
    --sbc-subscriptions-color: rgb(193, 161, 3);
    --sbc-education-color: rgb(210, 4, 138);
    --sbc-other-color: rgb(110, 127, 154);

    /* All Transactions */
    /* all transactions --> at */
    --at-text-color: rgb(40, 40, 35);

    --at-border-color: rgb(165, 165, 165);
    --at-bottom-border-color: rgb(129, 138, 110);
    --at-button-bg-color: rgb(240, 240, 240);
    --at-button-text-color: rgb(61, 61, 61);

    --at-search-text-color: rgb(40, 40, 35);
    --at-search-hover-color: rgb(233, 233, 233);

    --at-reset-hover: rgb(105, 105, 104);

    --at-csv-bg-color: rgb(240, 106, 5);
    --at-csv-bg-hover-color: rgb(218, 96, 2);

    --at-pdf-bg-color: rgb(87, 144, 2);
    --at-pdf-bg-hover-color: rgb(44, 141, 2);

    --at-csv-text-color: rgb(255, 255, 255);
    --at-pdf-text-color: rgb(255, 255, 255);

    --at-transaction-bg-color: rgb(232, 232, 232);
    --at-transaction-category-color: rgb(90, 65, 35);
    --at-transaction-description-color: rgb(120, 90, 50);
    --at-transaction-date-color: rgb(110, 80, 40);
    --at-transaction-negative-color: rgb(200, 40, 30);
    --at-transaction-positive-color: rgb(3, 150, 3);
    --at-delete-button-color: rgb(80, 80, 80);


    --at-pagination-button-bg-color: rgb(243, 244, 246);
    --at-pagination-text-color: rgb(40, 40, 40);

    
    /* Charts */
    /* charts --> ch */
    --ch-to-dashboard: rgb(46, 42, 38);
    --ch-pagination-button-bg-color: rgb(220, 220, 222);
    --ch-pagination-text-color: rgb(40, 40, 40);

    --ch-data-message-color: rgb(70, 75, 84);

    
    /* Corner Widget */
    --corner-widget-button-bg-color: rgb(255, 255, 255);
    --chat-window-bg-color: rgb(233, 233, 233);
    --chat-message-text-color: rgb(30, 30, 30);

    --spinner-track-color: rgba(0, 0, 0, 0.15);
    --spinner-active-color: rgb(26, 26, 26);

    --message-input-bg-color: rgb(211, 211, 211);
    --message-input-border-color: rgb(204, 204, 204);
    --message-input-text-color: rgb(30, 30, 30);
    --message-input-button-bg-color: rgb(0, 123, 255);
    --message-input-disabled-button-bg-color: rgba(0, 123, 255, 0.3);

    --message-over-limit-color: rgb(200, 40, 40);
    --message-under-limit-color: rgb(14, 162, 36);


    /* Links Page */
    /* advisor form --> adv */
    --adv-form-bg-color: rgb(204, 199, 204);
    --adv-form-text-color: rgb(40, 40, 35);
    --adv-form-input-bg-color: rgb(255, 255, 255);
    --adv-form-input-border-color: rgb(137, 137, 137);
    --adv-input-text: rgb(11, 20, 29);

    --adv-submit-button-bg-color: rgb(240, 240, 240);
    --adv-submit-button-hover-color: rgb(208, 208, 208);
    --adv-submit-text-color: rgb(40, 40, 35);
    --adv-submit-border-color: rgb(110, 110, 110);
    

    /* sent requests container --> src */
    --src-text-color: rgb(55, 55, 55);

    --src-email-color: rgb(20, 20, 20);

    --src-border-color: rgb(130, 130, 130);

    --src-cancel-color: rgb(20, 20, 20);
    --src-cancel-hover-color: rgb(237, 237, 237);
    --src-cancel-border-color: rgb(130, 130, 130);


    /* incoming requests container --> irc */
    --irc-text-color: rgb(55, 55, 55);

    --irc-email-color: rgb(20, 20, 20);

    --irc-border-color: rgb(130, 130, 130);

    --irc-cancel-color: rgb(20, 20, 20);
    --irc-cancel-hover-color: rgb(237, 237, 237);
    --irc-cancel-border-color: rgb(130, 130, 130);

    --irc-accept-color: rgb(250, 250, 250);
    --irc-accept-bg-color: rgb(51, 122, 46);
    --irc-accept-border-color: rgb(7, 69, 6);
    --irc-accept-hover-color: rgb(60, 140, 60);


    /* my clients --> mc */
    --mc-text-color: rgb(80, 80, 80);

    --mc-email-color: rgb(20, 20, 20);

    --mc-view-transactions-color: rgb(0, 104, 229);

    --mc-border-color: rgb(130, 130, 130);

    --mc-revoke-color: rgb(20, 20, 20);
    --mc-revoke-hover-color: rgb(237, 237, 237);
    --mc-revoke-border-color: rgb(130, 130, 130);
}


[data-theme="dark"] {
    --page-bg-color: rgb(37, 37, 37);

    --main-bg-color: rgb(73, 73, 73);

    /* header */
    --header-bg-color: rgb(51, 51, 51);
    --header-text-color: rgb(197, 197, 193);
    --header-link-color: rgb(111, 167, 236);
    --hamburger-color: rgb(242, 243, 243);
    --toggle-button-bg-color: rgb(33, 150, 243);
   
    /* Financial Summary */
    /* income-expense-balance --> ieb */
    --ieb-text-color: rgb(250, 235, 215);
    --ieb-income-color: rgb(3, 181, 3);
    --ieb-expense-color: rgb(253, 52, 37);
    --ieb-balance-color: rgb(241, 241, 241);
    --ieb-border-color: rgb(130, 130, 130);
    --ieb-button-text-color: rgb(255, 255, 255);
    --ieb-button-hover-color: rgb(62, 62, 62);

    /* Transaction Input */
    /* transaction input --> ti */
    --ti-text-color: rgb(250, 235, 215);
    --ti-label-color: rgb(251, 223, 186);
    --ti-select-text-color: rgb(251, 253, 255);
    --ti-select-bg-color: rgb(62, 62, 62);
    --ti-select-border-color: rgb(130, 130, 130);
    --ti-button-bg-color: rgb(73, 73, 73);
    --ti-button-bg-hover-color: rgb(62, 62, 62);
    --ti-button-text-color: rgb(255, 255, 255);
    --calendar-icon-filter: invert(1);

    /* Spending By Category */
    /* spending by category --> sbc */
    --sbc-border-color: rgb(130, 130, 130);
    --sbc-bottom-border-color: rgb(201, 207, 192);
    --sbc-text-color: rgb(250, 235, 215);
    --sbc-charts-text-color: rgb(252, 215, 168);
    --sbc-category-color: rgb(245, 222, 179);
    --sbc-percentage-color: rgb(255, 209, 148);
    --sbc-bar-bg-color: rgb(201, 207, 192);

    --sbc-food-color: rgb(166, 67, 47);
    --sbc-rent-color: rgb(140, 109, 47);
    --sbc-transport-color: rgb(147, 150, 1);
    --sbc-utilities-color: rgb(2, 122, 143);
    --sbc-entertainment-color: rgb(47, 111, 85);
    --sbc-shopping-color: rgb(110, 127, 154);
    --sbc-health-color: rgb(11, 138, 5);
    --sbc-subscriptions-color: rgb(193, 161, 3);
    --sbc-education-color: rgb(210, 4, 138);
    --sbc-other-color: rgb(110, 127, 154);

    /* All Transactions */
    /* all transactions --> at */
    --at-text-color: rgb(250, 235, 215);

    --at-border-color: rgb(130, 130, 130);
    --at-bottom-border-color: rgb(192, 197, 184);
    --at-button-bg-color: rgb(62, 62, 62);
    --at-button-text-color: rgb(251, 253, 255);
    
    --at-search-text-color: rgb(237, 239, 231);
    --at-search-hover-color: rgb(62, 62, 62);

    --at-reset-hover: rgb(184, 184, 184);

    --at-csv-bg-color: rgb(240, 106, 5);
    --at-csv-bg-hover-color: rgb(218, 96, 2);

    --at-pdf-bg-color: rgb(87, 144, 2);
    --at-pdf-bg-hover-color: rgb(44, 141, 2);

    --at-csv-text-color: rgb(255, 255, 255);
    --at-pdf-text-color: rgb(255, 255, 255);

    --at-transaction-bg-color: rgb(58, 58, 58);
    --at-transaction-category-color: rgb(255, 243, 225);
    --at-transaction-description-color: rgb(254, 214, 155);
    --at-transaction-date-color: rgb(255, 234, 203);
    --at-transaction-negative-color: rgb(255, 77, 64);
    --at-transaction-positive-color: rgb(3, 181, 3);
    --at-delete-button-color: rgb(255, 255, 255);


    --at-pagination-button-bg-color: rgb(243, 244, 246);
    --at-pagination-text-color: rgb(243, 244, 246);


    /* Charts */
    /* charts --> ch */
    --ch-to-dashboard: rgb(252, 215, 168);
    --ch-pagination-button-bg-color: rgb(243, 244, 246);
    --ch-pagination-text-color: rgb(243, 244, 246);

    --ch-data-message-color: rgb(152, 161, 177);


    /* Corner Widget */
    --corner-widget-button-bg-color: rgb(255, 255, 255);
    --chat-window-bg-color: rgb(30, 30, 30);
    --chat-message-text-color: rgb(255, 255, 255);

    --spinner-track-color: rgba(255, 255, 255, 0.3);
    --spinner-active-color: rgb(255, 255, 255);

    --message-input-bg-color: rgb(73, 73, 73);
    --message-input-border-color: rgb(204, 204, 204);
    --message-input-text-color: rgb(255, 255, 255);
    --message-input-button-bg-color: rgb(0, 123, 255);
    --message-input-disabled-button-bg-color: rgba(0, 123, 255, 0.3);

    --message-over-limit-color: rgb(255, 107, 107);
    --message-under-limit-color: rgb(31, 255, 57);


    /* Links Page */
    /* advisor form --> adv */
    --adv-form-bg-color: rgb(50, 50, 50);
    --adv-form-text-color: rgb(229, 229, 229);
    --adv-form-input-bg-color: rgb(50, 50, 50);
    --adv-form-input-border-color: rgb(130, 130, 130);
    --adv-input-text: rgb(240, 248, 255);

    --adv-submit-button-bg-color: rgb(50, 50, 50);
    --adv-submit-button-hover-color: rgb(60, 60, 60);
    --adv-submit-text-color: rgb(212, 209, 209);
    --adv-submit-border-color: rgb(130, 130, 130);


    /* sent requests container --> src */
    --src-text-color: rgb(195, 194, 183);

    --src-email-color: rgb(255, 255, 255);

    --src-border-color: rgb(130, 130, 130);

    --src-cancel-color: rgb(255, 255, 255);
    --src-cancel-hover-color: rgb(54, 54, 54);
    --src-cancel-border-color: rgb(130, 130, 130);


    /* incoming requests container --> irc */
    --irc-text-color: rgb(195, 194, 183);

    --irc-email-color: rgb(255, 255, 255);

    --irc-border-color: rgb(130, 130, 130);

    --irc-cancel-color: rgb(255, 255, 255);
    --irc-cancel-hover-color: rgb(54, 54, 54);
    --irc-cancel-border-color: rgb(130, 130, 130);

    --irc-accept-color: rgb(22, 210, 22);
    --irc-accept-bg-color: rgb(33, 78, 30);
    --irc-accept-border-color: rgb(7, 69, 6);
    --irc-accept-hover-color: rgb(1, 70, 1);


    /* my clients --> mc */
    --mc-text-color: rgb(195, 194, 183);

    --mc-email-color: rgb(255, 255, 255);

    --mc-view-transactions-color: rgb(96, 158, 232);

    --mc-border-color: rgb(130, 130, 130);

    --mc-revoke-color: rgb(255, 255, 255);
    --mc-revoke-hover-color: rgb(54, 54, 54);
    --mc-revoke-border-color: rgb(130, 130, 130);
}