.requests {
    color: wheat;
}

.incoming-request {
    color: burlywood;
}

#my-clients {
    margin-top: 10px;
    color: blanchedalmond;
    margin-bottom: 15px;
}

#my-clients ul a {
    text-decoration: none;
}

.client {
    margin-bottom: 10px;
}

.client a {
    color: cornflowerblue;
}

#my-advisors {
    margin-top: 10px;
    color: azure;
    margin-bottom: 15px;
}

.advisor {
    color: darkcyan;
}

.revoke-btn {
    margin-left: 10px;
}