.income-expense-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;
    /* height: 100px; */
    
    margin: 0 auto;
    margin-top: 50px;

    gap: 10px;
}

.income-expense-balance {
    display: flex;
    gap: 40px;
}

.income-expense { 
    display: flex;
    gap: 40px;
}

.income {
    background-color: var(--main-bg-color);
    height: 100px;
    width: 250px;
    border-radius: 15px;
    border: 2px solid var(--ieb-border-color);
}

.expense {
    background-color: var(--main-bg-color);
    height: 100px;
    width: 250px;
    border-radius: 15px;    
    border: 2px solid var(--ieb-border-color);
} 

.net-balance {
    background-color: var(--main-bg-color);
    height: 100px;
    width: 250px;
    border-radius: 15px;
    border: 2px solid var(--ieb-border-color);
}

#income-text {
    color: var(--ieb-text-color);
    padding: 5px 17px 2px 17px;
    margin-top: 10px;
}

#income-number {
    color: var(--ieb-income-color);
    padding: 5px 17px;
    font-size: 25px;
}

#expense-text {
    color: var(--ieb-text-color);
    padding: 5px 17px 2px 17px;
    margin-top: 10px;
}

#expense-number {
    color: var(--ieb-expense-color);
    padding: 5px 17px;
    font-size: 25px;
}

#net-balance-text {
    color: var(--ieb-text-color);
    padding: 5px 17px 2px 17px;
    margin-top: 10px;
}

#net-balance-number {
    color: var(--ieb-balance-color);
    padding: 5px 17px;
    font-size: 25px;
    display: flex;
}

#enter-number::-webkit-outer-spin-button,
#enter-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#enter-number {
    height: 35px;
    width: 75%;
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 5px;
}

.net-balance-enter {
    display: flex;
    padding: 0px 10px;
}

.save-net-balance-btn {
    margin-left: 10px;
    padding: 0px 8px;
    height: 35px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid var(--ieb-border-color);
    background-color: var(--main-bg-color);
    color: var(--ieb-button-text-color);
    transition: 0.1s ease-in;
}

.save-net-balance-btn:hover {
    opacity: 0.85;
    background-color: var(--ieb-button-hover-color);
    transition: 0.1s ease;
} 

#edit-balance-btn {
    background-color: var(--main-bg-color);
    border: none;
    cursor: pointer;
    margin-left: 10px;
    color: var(--ieb-balance-color);
}

@media (max-width: 900px) {

  .income {
    width: 200px;
  }

  .expense {
    width: 200px;
  }

  .net-balance {
    width: 200px;
  }
  
}


@media (max-width: 750px) {

  .income-expense-container {
    margin-top: 20px;
  }

  .income-expense-balance {
    gap: 20px;
  }

  .income-expense {
    gap: 20px;
  }

  .income {
    height: 80px;
    width: 170px;
  }

  #income-text {
    font-size: 14px;
  }

  #income-number p {
    font-size: 20px;
  }

  .expense {
    height: 80px;
    width: 170px;
  }

  #expense-text {
    font-size: 14px;
  }

  #expense-number {
    font-size: 20px;
  }

  .net-balance {
    height: 80px;
    width: 170px;
    margin: 0 auto;
  }

  #net-balance-text {
    font-size: 14px;
  }

  #net-balance-number-p {
    font-size: 19px;
  }
}

@media (max-width: 600px) {

  .income-expense-balance {
    flex-direction: column;
  }
  
}

@media (min-width: 768px) {
  .income-expense-container {
    height: 100px;
  }
}

@media (max-width: 451px) {
  .income {
    width: 150px;
  }

  .expense {
    width: 150px;
  }
}