.header-container {
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 20px 50px;
    background-color: rgb(51, 51, 51);
}

.right-part {
    display: flex;
    align-items: center;
    gap: 54px;
}

.profile-text {
    color: rgb(197, 197, 193);
}

.left-part-text {
    color: rgb(197, 197, 193);
}

.logout {
    padding-right: 30px;
}

.logout-btn {
    border: none;
    background-color: rgb(51, 51, 51);
    color: rgb(197, 197, 193);
    cursor: pointer;
}

.links { 
    a {
    text-decoration: none;
    color: #6da7ec;
    }
}